<span [ngSwitch]="alert">
    <div *ngSwitchCase="'info'">
        <div class="alert alert-info" role="alert">
            A simple info alert—check it out!
        </div>
    </div>
    <div *ngSwitchCase="'success'">
        <div class="alert alert-success" role="alert">
            A simple success alert—check it out!
        </div>
    </div>
    <div *ngSwitchCase="'warning'">
        <div class="alert alert-warning" role="alert">
            A simple warning alert—check it out!
        </div>
    </div>
    <div *ngSwitchCase="'primary'">
        <div class="alert alert-primary" role="alert">
        A simple primary alert—check it out!
        </div>
    </div>
    <div *ngSwitchDefault>
        <div class="alert alert-danger" role="alert">
            A simple danger alert—check it out!
        </div>
    </div>
</span>

<button class="btn btn-success" (click)="alert='success'"> Cambiar</button>